body {
	background-color : #eff9e5;
}

h1, h2, h3 {
	color: #7c795d;
	font-weight: normal;
	font-family: 'Trocchi', serif;
}

p {
	color : #222222;
	font-family: Lucida Sans Unicode, sans serif;
}
	
#wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	font-family: 'Raleway', serif;
	font-size: 60px; 
	font-weight: normal; 
	line-height: 48px; 
	margin-top: 2%;
	margin-bottom: -20px;
	text-align: center;
}

#subheader { 
	color: #bb8822; 
	font-family: 'Raleway', serif;
	font-size: 30px; 
	font-weight: 400; 
	line-height: 50px; 
	text-align: center;
	border-bottom : 1px Solid #C5D8D5;
}

.ui-state-focus {
	/* Remove focus outline in accordion. */
	outline: none;
}
	
.ui-accordion-header {
	margin-left: -20px;
	padding-left: 60px;
	background: 0.8em url('images/icon-chapter-closed.png') no-repeat;
}

.ui-accordion-header.ui-accordion-header-active {
	background: 0.8em url('images/icon-chapter-open.png') no-repeat;
}

.ui-accordion-content {

}