body{
	background-color : #EFF9E5;
	}
	
h1 { 
	color: #7c795d; 
	font-family: Trocchi, serif; 
	font-size: 45px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 2% 15%;
	text-align: center;
	}

.subheader { 
	color: #ffcc66; 
	font-family: Source Sans Pro, sans-serif; 
	font-size: 28px; 
	font-weight: 400; 
	line-height: 32px; 
	margin: 0 25%;
	text-align: center;	
	border-bottom : 2px Solid #C5D8D5;
	}
	

	
p{
	color : #EFF9E5;
	margin: 0% 15%;
	font-family: Lucida Sans Unicode, sans serif;
	}

p#p1{

}